@import "../variables/variables";

.header{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0 10px 20px $dark-5;
  &__interface{
    display: flex;
    align-items: center;
  }
  &__menu{
    display: flex;
    align-items: center;
  }
  &__menu-element{

    &>a{
      color: $dark-50;
      padding: 26px 15px;
      display: block;
      line-height: 17px;
    }

    &:hover{
      background-color: $dark-10;
    }
    &_active{
      & > a{
        font-weight: bold;
        color: $dark-75;
      }
    }
    &_parent{
      position: relative;
      cursor: pointer;
      padding: 26px 26px 26px 15px;
      line-height: 17px;
      color: $dark-50;
      &:after{
        content: '';
        background-image: url("./expand_more.svg");
        width: 12px;
        height: 8px;
        position: absolute;
        top: 31px;
        right: 9px;
      }
      &:hover > .header__submenu{
        display: block;
      }
    }
  }
  &__sign-buttons{
    display: flex;
    margin-left: 15px;
  }
  &__sign-up{
    margin-left: 20px;
  }
  &__submenu{
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid $dark-10;
    padding: 20px 0;
    left: 0;
    top: 68px;
    z-index: 3;
  }
  &__submenu-element{
    & > a{
      color: $dark-50;
      display: block;
      padding: 15px 40px;
    }
    &:hover{
      background-color: $dark-10;
    }
  }
  &__signed-info{
    color: $dark-50;
    padding-left: 30px;
    margin-left: 15px;
    border-left: 1px solid $dark-10;
  }
}