include ../dropdown/dropdown

mixin dropdown-date-range(options)
    -
        var mod = '';
        if (options.type == 'splitted') mod += ' js-dropdown-date-range_splitted';
        if (options.type == 'single') mod += ' js-dropdown-date-range_single';
        if (options.type == 'double') mod += ' js-dropdown-date-range_double';
    div(class="dropdown-date-range" + mod)
        if options.type == "single"
            +dropdown({title:options.title, defaultText: 'Не задано'})
        if options.type == "splitted"
            div.dropdown-date-range__element
                +dropdown({title:options.title, defaultText: 'ДД.ММ.ГГГГ', expanded: false})
            div.dropdown-date-range__element
                +dropdown({title:options.title2, defaultText: 'ДД.ММ.ГГГГ', expanded: false})
        else if options.type == "double"
            div.dropdown-date-range__element
                +dropdown({title:options.title, defaultText: 'ДД.ММ.ГГГГ', expanded: false})
            div.dropdown-date-range__element
                +dropdown({title:options.title2, defaultText: 'ДД.ММ.ГГГГ', expanded: false})