@import "../variables/variables";

.input{
  &__input{
    height: 44px;
    width: 100%;
    padding-left: 14px;
    padding-right: 44px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: $dark-25;
    border-width: 1px;
    color: $dark-75;
    font-family: $montserrat;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    &::placeholder{
      color: $dark-25;
    }
    &:hover,&:focus{
      border-color: $dark-50;
    }
    &.input_focus-demo-mode{
      border-color: $dark-50;
    }
  }

  &__titles{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__subtitle{
    h3{
      font-weight: normal;
      color: $dark-50;
    }
  }
  &__content{
    position: relative;
  }

  &_focus-demo-mode{
    .input__input{
      border-color: $dark-50;
    }
  }

  &_subscription{
    .input__subscription-button{
      width: 44px;
      height: 44px;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      cursor: pointer;
      background-color: transparent;
      background-image: url('./arrow_forward.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

}