include ../input/input
include ../button/button

mixin login(options)
    div(class="login")
        h1(class="login__title")='Войти'
        form(class="login__form")
            div(class="login__field")
                +input({placeholder:'Email', type: 'email'})
            div(class="login__field")
                +input({placeholder:'Пароль', type: 'password'})
            div(class="login__enter")
                +button({title:'Войти', arrow:true, fullwide: true})
        div(class="login__register")
            div(class="login__register-text")='Нет аккаунта на Toxin?'
            +button({title:'Создать', theme:"white"})