mixin button(options)
    -
        var buttonClassName = "button"
        buttonClassName += options.theme == 'white' ? " button_theme-white" : ""
        buttonClassName += options.theme == 'light' ? " button_theme-light" : ""
        buttonClassName += options.arrow ? " button_arrow" : ""
        buttonClassName += options.fullwide ? " button_fullwide" : ""
    button(class=buttonClassName type="submit" disabled=options.disabled)=options.title