.dropdown-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0 0 0;
  &__control{
    display: flex;
    align-items: center;
  }
  &__value{
    width: 32px;
    text-align: center;
    box-sizing: border-box;
  }
}