.review{
  display: flex;
  &__side{
    margin-right: 10px;
  }
  &__image{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 12px;
    border: 2px solid #fff;
    img{
      width: 100%;
    }
  }
  &__like{
    display: flex;
    justify-content: center;
  }
  &__name{
    font-weight: bold;
  }
  &__text{
    margin-top: 10px;
    max-width: 800px;
  }
}