mixin slider(options)
    div(class="slider js-slider")
        div(class="slider__titles")
            div(class="slider__title")
                h3=options.title
            div(class="slider__subtitle")
                h3(class="js-slider__subtitle")="₽"
        div(class="slider__element js-slider__element")