mixin pagination-button(options)
    -
        var mod = '';
        if (options.type == "current") mod = 'pagination-button_current';
        if (options.type == "next") mod = 'pagination-button_next';
        if (options.type == "middle") mod = 'pagination-button_middle';
    div(class="pagination-button " + mod)
        div(class="pagination-button__value")=options.val