@import "../variables/variables";

.pagination-button{
  width: 40px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &__value{
    color: $dark-50;
    width: 100%;
    text-align: center;
  }

  &_current{
    background: linear-gradient(180deg, $purple 0%, $blue 100%);
    .pagination-button__value{
      color: #ffffff;
    }
  }
  &_middle{
    cursor: default;
  }
  &_next{
    background: linear-gradient(180deg, $green 0%, $light-blue 100%);
    position: relative;

    .pagination-button__value:after{
      content: '';
      background-image: url("./arrow_forward.svg");
      position: absolute;
      width: 18px;
      height: 18px;
      right: 11px;
      top: 12px;
    }

  }
  &_clickable{
    cursor: pointer;
  }

}