@font-face {
  font-family: 'Quicksand';
  src:
    url('./quicksand-regular.woff') format('woff'),
    url('./quicksand-regular.ttf') format('truetype'),
    url('./quicksand-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src:
          url('./quicksand-bold.woff') format('woff'),
          url('./quicksand-bold.ttf') format('truetype'),
          url('./quicksand-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('./montserrat-regular.woff') format('woff'),
    url('./montserrat-regular.ttf') format('truetype'),
    url('./montserrat-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('./montserrat-bold.woff') format('woff'),
    url('./montserrat-bold.ttf') format('truetype'),
    url('./montserrat-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans';
  src:
          url('./opensans-regular.woff') format('woff'),
          url('./opensans-regular.ttf') format('truetype'),
          url('./opensans-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans';
  src:
          url('./opensans-bold.woff') format('woff'),
          url('./opensans-bold.ttf') format('truetype'),
          url('./opensans-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}