.plan{
  width: 270px;
  border: 1px solid #e0e0e0;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1a1a1a;

    &_business{
      color: #008ed6;
    }

  }
  &__price {
    padding: 32px 0 35px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;

    &_business{
      background-color: #008ed6;
      color: #fafafa;
    }

  }
  &__price-count {
    color: #1a1a1a;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;

    &_business{
      color: #fafafa;
    }

    em{
      vertical-align: super;
      font-size: 28px;
      font-style: normal;
    }
  }
  &__period {
    line-height: 1;
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
  }
  &__description {
    padding: 45px 20px 29px;
    text-align: center;
  }
  &__description-link {
    text-decoration: none;
    color: #337ab7;
  }
}