@import "../variables/variables";

.footer{
  background: #FFFFFF;
  box-shadow: 0 10px 20px $dark-10;
  border-top: 1px solid $dark-10;
  margin-top: 2px;
  &__content{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__multicolumn{
    @media (max-width: 1156px) {
      display: none;
    }
  }
  &__interface{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 93px;
  }
  &__text{
    max-width: 260px;
    padding-right: 5%;
    margin-top: 13px;
    margin-bottom: 23px;
  }

  &__column{
    max-width: 260px;
  }

  &__element{
    margin-top: 20px;
    line-height: 17px;
    & > a{
      color: $dark-50;
    }
    &:hover{
      & > a{
        color: $dark-blue;
      }
    }
  }
  &__added{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid $dark-5;
  }
  &__single{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 110px;
    @media (max-width: 1156px) {
      display: flex;
    }
  }
  &__socials{
    display: flex;
    justify-content: space-between;
    width: 112px;
    & > a{
      height: 22px;
    }
  }
  &__single-text{
    max-width: 560px;
    text-align: center;
    margin: 20px 20px 25px 20px;
  }

}