include ../checkbox/checkbox

mixin checkbox-group(options)
    -
        let mod = options.type == "rich"?" checkbox-group_rich":""
    div(class="checkbox-group" + mod)
        div(class="checkbox-group__title")
            h3=options.title
        each obj in options.data
            div(class="checkbox-group__element")
                +checkbox(obj)