
.checkbox-group{
  &__title{
    margin-bottom: 16px;
  }
  &__element{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &_rich{
    .checkbox-group__element{
      &:not(:last-child){
        margin-bottom: 7px;
      }
    }
  }
}