include ../checkbox/checkbox

mixin checkbox-group(options)
    div(class="checkbox-group")
        div(class="checkbox-group__title")
            h3=options.title
        each obj in options.data
            div(class="checkbox-group__element")
                +checkbox(obj)