include ../input/input
include ../radio-buttons/radio-buttons
include ../toggle/toggle

mixin register(options)
    div.register
        h1.register__title='Регистрация аккаунта'
        form.register__form
            div.register__field
                +input({placeholder:'Имя', required: true})
            div.register__field
                +input({placeholder:'Фамилия', required: true})
            div.register__sex
                +radio-buttons({
                    data: [
                        {text:'Мужчина', value: 1, name: 'sex', checked: true},
                        {text:'Женщина', value: 2, name: 'sex'},
                    ]
                })
            div.register__birthdate
                +input({title:'Дата рождения', type:'masked', required: true})
            div.register__enter-data
                div.register__field
                    +input({placeholder:'Email', type:'email', title:'Данные для входа в сервис', required: true})
                div.register__field
                    +input({placeholder:'Пароль', type:'password', required: true})
            div.register__subscribe
                +toggle({
                     name: 'subscribe',
                     text: 'Получать спецпредложения'
                 })
            div.register__action
                +button({title:'Зарегистрироваться', arrow:true, fullwide: true})
        div(class="register__login")
            div(class="register__login-text")='Уже есть аккаунт на Toxin?'
            +button({title:'Войти', theme:"white", type: "link", href: "/login.html"})