include ../components/header/header
include ../components/footer/footer
include ../components/find-room/find-room


doctype html
html(lang=ru)
    head
        meta(CHARSET=UTF-8)
        meta(name="viewport" content="width=device-width")
        title Landing page
    body
        div.layout
            +header({})
            section.layout__content.layout__content_image-background
                div.layout__wrapper
                    div.layout__find-room
                        +find-room({})
                    div.layout__text_image-background="Лучшие номера для вашей работы, отдыха и просто вдохновения"
            +footer({})