.layout{
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content{

    &_image-background{
      background-image: url("./image.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 900px;
      max-width: none;
      @media (max-width: 1023px) {
        height: auto;
      }
    }
    flex-grow: 1;
    max-width: 1190px;
    &_centered{
      margin: 0 auto;
    }

    &_room-page{
      display: flex;
      margin-top: 30px;
      @media (max-width: 910px) {
        flex-wrap: wrap;
      }
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1160px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 70px 15px 20px 15px;
    height: 100%;
    @media (max-width: 379px) {
      padding: 30px 0;
    }
  }
  &__text{
    &_image-background{
      align-self: flex-end;
      max-width: 300px;
      text-align: right;
    }
  }

  &__filter{
    min-width: 296px;
    @media (min-width: 910px) {
      margin-right: 30px;
    }
    @media (max-width: 910px) {

      width: 100%;
    }
  }
  &__filter-inner{
    padding: 0 15px;
  }

  &__filter-dates{

  }
  &__filter-guest{
    margin-top: 21px;
  }
  &__filter-price-range{
    margin-top: 30px;
  }
  &__filter-options{
    margin-top: 29px;
  }
  &__filter-opportunity{
    margin-top: 31px;
  }
  &__filter-bedroom{
    margin-top: 26px;
  }
  &__filter-added-options{
    margin-top: 30px;
  }


  &__page-content{
    padding: 0 15px;
  }
  &__page-title{
    @media (max-width: 910px) {
      text-align: center;
    }
  }

  &__page-rooms{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 21px;
    @media (max-width: 584px){
      justify-content: center;
    }
  }
  &__page-room{
    margin-bottom: 22px;
  }
  &__page-rooms-pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0 70px;
  }
}