.layout{
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content{

    &_image-background{
      background-image: url("./image.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 900px;
      max-width: none;
      @media (max-width: 1023px) {
        height: auto;
      }
    }
    &_image2-background{
      background-image: url("./image2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: none;
    }
    flex-grow: 1;
    max-width: 1190px;
    &_centered{
      margin: 0 auto;
    }

    &_room-page{
      display: flex;
      margin-top: 30px;
      @media (max-width: 910px) {
        flex-wrap: wrap;
      }
    }
    &_details-room{
      display: flex;
      margin-top: 70px;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1160px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 70px 15px 20px 15px;
    height: 100%;
    &_registration{
      padding: 30px 15px;
      align-items: center;
      justify-content: center;
    }
    &_login{
      padding: 163px 15px;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 379px) {
      padding: 30px 0;
    }
  }
  &__text{
    &_image-background{
      align-self: flex-end;
      max-width: 300px;
      text-align: right;
    }
  }

  &__filter{
    min-width: 296px;
    @media (min-width: 910px) {
      margin-right: 30px;
    }
    @media (max-width: 910px) {

      width: 100%;
    }
  }
  &__filter-inner{
    padding: 0 15px;
  }

  &__filter-dates{

  }
  &__filter-guest{
    margin-top: 21px;
  }
  &__filter-price-range{
    margin-top: 30px;
  }
  &__filter-options{
    margin-top: 29px;
  }
  &__filter-opportunity{
    margin-top: 31px;
  }
  &__filter-bedroom{
    margin-top: 26px;
  }
  &__filter-added-options{
    margin-top: 30px;
  }


  &__page-content{
    padding: 0 15px;
    &_detail-room{
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 425px) {
        padding: 0;
      }
    }
  }
  &__page-title{
    @media (max-width: 910px) {
      text-align: center;
    }
  }

  &__page-rooms{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 21px;
    @media (max-width: 584px){
      justify-content: center;
    }
  }
  &__page-room{
    margin-bottom: 22px;
  }
  &__page-rooms-pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0 70px;
  }


  &__main-image{
    width: 100%;
  }
  &__details-room-main-part{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__details-room-properties{
    @media (max-width: 1022px) {
      margin: 0 auto;
    }
  }
  &__details-room-chart{
    @media (max-width: 1022px) {
      margin: 0 auto;
    }
  }
  &__images{
    display: flex;
    margin: 0 auto;
  }
  &__images-small{
    display: flex;
    flex-direction: column;
    @media (max-width: 1455px) {
      display: none;
    }
  }
  &__details-room-inner{
    width: 60%;
    @media (max-width: 1130px) {
      margin: 0 auto;
    }
    @media (max-width: 425px) {
      padding: 0 15px;
    }
  }
  &__details-room-reviews-part{
    margin-top: 30px;
  }
  &__page-aside{
    padding-left: 70px;
    width: 33%;
    @media (max-width: 1130px) {
      padding-left: 0;
      width: 100%;
    }
    margin: 0 auto;
    margin-bottom: 70px;
  }
  &__book-room{
    margin: 0 auto;
    max-width: 380px;
  }
  &__rules{
    max-width: 300px;
    margin: 0 auto;
  }
  &__cancel{
    max-width: 300px;
    margin: 0 auto;
  }
  &__cancel-title{
    margin-bottom: 20px;
  }
  &__details-room-bottom-part{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;
  }


}