include ../components/header/header
include ../components/footer/footer
include ../components/room/room
include ../components/pagination/pagination
include ../components/dropdown-date-range/dropdown-date-range
include ../components/dropdown/dropdown
include ../components/slider/slider
include ../components/checkbox-group/checkbox-group
include ../components/checkbox-expandable/checkbox-expandable


doctype html
html(lang="ru")
    head
        meta(CHARSET="UTF-8")
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        title Searchroom page
    body
        div.layout
            +header({})
            section.layout__content.layout__content_room-page.layout__content_centered
                aside.layout__filter
                    div.layout__filter-inner
                        div.layout__filter-dates
                            +dropdown-date-range({title:'Даты пребывания в отеле', type:'single'})
                        div.layout__filter-guest
                            +dropdown({title:'Гости', type: "guest", defaultText: "Сколько гостей", expandable: true})
                        div.layout__filter-price-range
                            +slider({title: "Диапазон цены"})
                        div.layout__filter-options
                            +checkbox-group({
                                title: 'checkbox buttons',
                                data: [
                                    {text:'Можно курить'},
                                    {text:'Можно с питомцами', checked:true},
                                    {text:'Можно пригласить гостей (до 10 человек)', checked:true}
                                ]
                            })
                        div.layout__filter-opportunity
                            +checkbox-group({
                                title: 'Доступность',
                                type: "rich",
                                data: [
                                    {title: 'Широкий коридор', text:'Ширина коридоров в номере не менее 91 см.'},
                                    {title: 'Помощник для инвалидов', text:'На 1 этаже вас встретит специалист и проводит до номера.'},
                                ]
                            })
                        div.layout__filter-bedroom
                            +dropdown({title:'Удобства номера', type: "bedroom", defaultText: "Не задано", expandable: true})
                        div.layout__filter-added-options
                            +checkbox-expandable({
                                title: 'Дополнительные удобства',
                                data: [
                                    {text:'Завтрак'},
                                    {text:'Письменный стол'},
                                    {text:'Стул для кормления'},
                                    {text:'Кроватка'},
                                    {text:'Телевизор'},
                                    {text:'Шампунь'},
                                    {text:'Телевизор'},
                                    {text:'Шампунь'},
                                ]
                            })
                div.layout__page-content
                    div.layout__page-title
                        h1="Номера, которые мы для вас подобрали"
                    div.layout__page-rooms
                        div.layout__page-room
                            +room({id:1, number:888, price: "9 990", rating:5, countReviews:145, lux:true})
                        div.layout__page-room
                            +room({id:2, number:840, price: "9 990", rating:4, countReviews:65, lux:true})
                        div.layout__page-room
                            +room({id:3, number:980, price: "8 500", rating:3, countReviews:35, lux:true})
                        div.layout__page-room
                            +room({id:4, number:856, price: "7 300", rating:5, countReviews:19, lux:true})
                        div.layout__page-room
                            +room({id:5, number:740, price: "6 000", rating:4, countReviews:44, lux:true})
                        div.layout__page-room
                            +room({id:6, number:982, price: "5 800", rating:3, countReviews:56, lux:true})
                        div.layout__page-room
                            +room({id:7, number:678, price: "5 500", rating:5, countReviews:45, lux:true})
                        div.layout__page-room
                            +room({id:8, number:450, price: "5 300", rating:4, countReviews:39, lux:true})
                        div.layout__page-room
                            +room({id:9, number:350, price: "5 000", rating:3, countReviews:77, lux:true})
                        div.layout__page-room
                            +room({id:10, number:666, price: "5 000", rating:5, countReviews:25, lux:true})
                        div.layout__page-room
                            +room({id:11, number:444, price: "5 000", rating:3, countReviews:15, lux:true})
                        div.layout__page-room
                            +room({id:12, number:352, price: "5 000", rating:3, countReviews:55, lux:true})
                    div.layout__page-rooms-pagination
                        +pagination({count:15})
            +footer({})