include ../components/login/login
include ../components/register/register
include ../components/find-room/find-room
include ../components/book-room/book-room
include ../components/image-slider/image-slider
include ../components/room/room

doctype html
html(lang=ru)
    head
        meta(CHARSET=UTF-8)
        title UI kit cards

    body
        section(class="content")
            div(class="content__column")
                div(class="content__field")
                    +login({})
                div(class="content__field")
                    +register({})
            div(class="content__column")
                div(class="content__field")
                    +find-room({})
                div(class="content__field")
                    +book-room({})
                div(class="content__field")
                    +room({id:1, number:888, price: "9 990", rating:5, countReviews:145, isLux:true})
                div(class="content__field")
                    +room({id:2, number:840, price: "9 990", rating:4, countReviews:65})