include ../components/input-field/input-field
include ../components/dropdown/dropdown
include ../components/dropdown-date-range/dropdown-date-range
include ../components/checkbox-group/checkbox-group
include ../components/checkbox-expandable/checkbox-expandable
include ../components/bullet-list/bullet-list
include ../components/radio-buttons/radio-buttons
include ../components/toggle/toggle

doctype html
html(lang=ru)
    head
        meta(CHARSET=UTF-8)
        title UI kit colors & pages

    body
        section(class="content")
            div(class="content__column")
                div(class="content__field")
                    +input-field({placeholder:'Email', title:'Text field', subtitle:'Default'})
                div(class="content__field")
                    +input-field({placeholder:'Email', title:'Text field', subtitle:'Hover/Focus', value:'This is pretty awesome', focusDemoMode:true})
                div(class="content__field")
                    +dropdown({title:'Dropdown3', subtitle:'Default3', type: "bedroom", defaultText: "Не задано"})
                div(class="content__field")
                    +dropdown({title:'Dropdown', subtitle:'Default', type: "guest", defaultText: "Сколько гостей"})
                div(class="content__field")
                    +input-field({title:'Masked text field', subtitle:'Default', type:'masked'})
                div(class="content__field")
                    +input-field({placeholder:'Email', title:'Subscription text field', type:'subscription'})
                div(class="content__field")
                    +dropdown-date-range({type:'double'})
                div(class="content__field")
                    +dropdown-date-range({type:'single'})
            div(class="content__column")
                div(class="content__field")
                    +checkbox-group({
                        title: 'checkbox buttons',
                        data: [
                            {text:'Можно курить'},
                            {text:'Можно с питомцами'},
                            {text:'Можно пригласить гостей (до 10 человек)'}
                        ]
                    })
                div(class="content__field")
                    +checkbox-group({
                        title: 'rich checkbox buttons',
                        data: [
                            {title: 'Широкий коридор', text:'Ширина коридоров в номере не менее 91 см.'},
                            {title: 'Помощник для инвалидов', text:'На 1 этаже вас встретит специалист и проводит до номера.'},
                        ]
                    })
                div(class="content__field")
                    +checkbox-expandable({
                        title: 'Expandable checkbox list',
                        data: [
                            {text:'Завтрак'},
                            {text:'Письменный стол'},
                            {text:'Стул для кормления'},
                            {text:'Кроватка'},
                            {text:'Телевизор'},
                            {text:'Шампунь'},
                            {text:'Телевизор'},
                            {text:'Шампунь'},
                        ]
                    })
                div(class="content__field")
                    +bullet-list({
                        title: 'Bullet list',
                        data: [
                            {text:'Нельзя с питомцами'},
                            {text:'Без вечеринок и мероприятий'},
                            {text:'Время прибытия — после 13:00, а выезд до 12:00'},
                        ]
                    })
                div(class="content__field")
                    +radio-buttons({
                        title: 'Radio buttons',
                        data: [
                            {text:'Мужчина', value: 1, name: 'sex'},
                            {text:'Женщина', value: 2, name: 'sex', checked: true},
                        ]
                    })
                div(class="content__field")
                     +toggle({
                         name: 'subscribe',
                         text: 'Получать спецпредложения'
                     })
