include ../components/input-field/input-field
include ../components/dropdown/dropdown

doctype html
html(lang=ru)
    head
        meta(CHARSET=UTF-8)
        title UI kit colors & pages

    body
        section(class="content")
            div(class="content__column")
                div(class="content__field")
                    +input-field({placeholder:'Email', title:'Text field', subtitle:'Default'})
                div(class="content__field")
                    +input-field({placeholder:'Email', title:'Text field', subtitle:'Hover/Focus', value:'This is pretty awesome', focusDemoMode:true})
                div(class="content__field")
                    +dropdown({title:'Dropdown3', subtitle:'Default3', isBedroom: true})
                div(class="content__field")
                    +dropdown({title:'Dropdown', subtitle:'Default'})
//-                 div(class="content__field")
//-                     +dropdown({title:'Dropdown2', subtitle:'Default2'})
