include ../components/login/login
include ../components/register/register

doctype html
html(lang=ru)
    head
        meta(CHARSET=UTF-8)
        title UI kit cards

    body
        section(class="content")
            div(class="content__column")
                div(class="content__field")
                    +login({})
                div(class="content__field")
                    +register({})