include ../components/header/header
include ../components/footer/footer

doctype html
html(lang=ru)
    head
        meta(CHARSET=UTF-8)
        title UI kit headers & footers

    body
        +header({})
        +header({signedIn:true})
        +footer({})