$dark-color: #1F2041;
$dark-100: rgba($dark-color, 1);
$dark-75: rgba($dark-color, 0.75);
$dark-50: rgba($dark-color, 0.50);
$dark-25: rgba($dark-color, 0.25);
$dark-5: rgba($dark-color, 0.05);
$purple-color: #BC9CFF;
$green-color: #6FCF97;

body{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-color;
}

h3{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 15px;
}

h2{
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
}

h1{
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}