@import "../variables/variables";

.dropdown{
  width: 100%;
  &__select{
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
    border-color: $dark-25;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    outline: none;
    &:after{
      content:'';
      background-image: url('./expand_more.svg');
      width: 12px;
      height: 8px;
      position: absolute;
      top: 17px;
      right: 15px;
    }
    &:focus, &:hover{
      border-color: $dark-50;
    }
  }

  &__content{
    border: 1px solid;
    border-color: $dark-25;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    padding: 0 7px 13px 15px;
    box-sizing: border-box;
    display: none;
  }

  &__value{
    margin-left: 14px;
    line-height: 42px;
  }

  &__titles{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__subtitle{
    h3{
      font-weight: normal;
      color: $dark-50;
    }
  }

  &__actions{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }

  &_expanded{
    .dropdown__content{
      display: flex;
      flex-direction: column;
      border-color: $dark-50;
      position: absolute;
      width: 320px;
      z-index: 3;
      background-color: #ffff;
    }
    .dropdown__select{
      border-color: $dark-50;
      border-radius: 4px 4px 0 0;
    }
  }

}

.dropdown-link{
  text-decoration: none;

  &_cancel{
    color: $dark-50;
  }

  &_ok{
    color: $purple;
  }

  &_disabled{
    display: none;
  }
}