$dark-color: #1F2041;
$dark-100: rgba($dark-color, 1);
$dark-75: rgba($dark-color, 0.75);
$dark-50: rgba($dark-color, 0.50);
$dark-25: rgba($dark-color, 0.25);
$dark-10: rgba($dark-color, 0.1);
$dark-5: rgba($dark-color, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$blue: #8BA4F9;
$light-blue: #66D2EA;

$montserrat : "Montserrat", "Opensans", sans-serif;
$quicksand : "Quicksand", "Opensans", sans-serif;
